node_modules
.env
dist-electron
.turbo
*.tsbuildinfo
dist
.DS_Store
Makefile

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# typescript
*.tsbuildinfo

# generated native folders
ios
android
