{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "importOrder": [
    "^react$",
    "^react-native$",
    "^@react-navigation",
    "^@expo",
    "^@radix-ui",
    "^@gluestack-ui",
    "^@legendapp",
    "^[a-z]",
    "^~"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
